<html>
<head>
	<title>Image annotation tool</title>
	<!-- JQuery library: -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<script type=text/javascript>
	  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>

	<!-- Minimal style framework: -->
	<!-- <link href="//mincss.com/entireframework.min.css" rel="stylesheet" type="text/css"> -->
	<!-- Arrows icons: -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Personal scripts: -->
	<script type="text/javascript" src="{{ main_js }}"></script>
	<link rel="stylesheet" href="{{ main_css }}">

</head>
<body>
	<!--
 	<nav class="nav" tabindex="-1" onclick="this.focus()">
		<div class="container">
			<a class="pagename current" href="#">Image Annotation tool</a>
		</div>
	</nav>
	 -->

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CAT: Customizable Annotation Tool</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


	<div id="main_div">
		<div class="row">
		 	<div id="img_div" class="col-md-4">
				<canvas id="img_canvas">
			        Sorry. Your browser does not support HTML5 canvas element.
			    </canvas>
		 	</div>

		 	<!-- Annotation tools: -->
		    <div id="legend_div" class="col-md-8">
				
				<div class="row">

					<div id="legend_col_1" class="col-md-0">	
			    	</div>

			    	<div id="legend_col_2" class="col-md-8">
				    	<div>
							<h4>Document category:</h4>
							<ul id="category">
							</ul>
				    	</div>
		 
				    	<div>
							<h4>Document orientation: </h4>
							<ul id="orientation">
							</ul>
						</div>

				    	<div>
				    		<h4>Bounding boxes: <span id="bb_small_text">(clic, release, clic)</span>:</h4>
				    		<ul id="bounding_boxes">
				    		</ul>
				    	</div>

				    	<div>
					    	<h4>Text extraction: <span id="bb_small_text">(Use the bounding-box: `word`)</span>:</h4>
					    	<div id="word_textarea">
					    	</div>
				    	</div>

			    	</div>
				</div>

		    	
		    	<!-- Submit/remove buttons: -->
		    	<div class="row">
			    	<div id="reset_div">
			    	</div>
			    	
			    	<div id="submit_button">
			    	</div>
		    	</div>

		    </div>
		</div>
	</div>

</body>
</html>