<html>
<head>
	<title>Image annotation tool</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type=text/javascript>
	  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
	<script type="text/javascript" src="{{ main_js }}"></script>
	<script type="text/javascript" src="static/scripts/sketch.js"></script>
</head>
<body style="background-color: #839cc4;">

	<div id="main_div" style="margin: 3% 3% 3% 3%; width:80%;border:1px solid black;">
		
<!-- 		<h2 id='ex_img_name'></h2> -->

	 	<div style="float:left;border:1px solid red;">
			<canvas id="ex_canvas">
		        Sorry. Your browser does not support HTML5 canvas element.
		    </canvas>
	 	</div>

	    <div id="legend" style="float:right; width:30%; border:1px solid blue;">
	    	
	    	<h2>Annotations:</h2>
			
	    	<div style="margin: 1% 1% 1% 1%;">
				<h3>Document type:</h3>
				<ul id="document_type">
				</ul>
	    	</div>

	    	<div style="margin: 1% 1% 1% 1%;">
				<h3>Document orientation: </h3>
				<ul id="orientation">
				</ul>
			</div>

	    	<div style="margin: 1% 1% 1% 1%;">
	    		<h3>Rectangle color:</h3>
	    		<ul id="bounding_box_colors">
	    		</ul>
	    	</div>

	    </div>

	</div>

</body>
</html>