<html>
<head>
	<title>Image annotation tool</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type=text/javascript>
	  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
	<script type="text/javascript" src="{{ main_js }}"></script>
	<link href="//mincss.com/entireframework.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


</head>
<body style="background-color: #839cc4;">


	<nav class="nav" tabindex="-1" onclick="this.focus()">
		<div class="container">
			<a class="pagename current" href="#">Image Annotation tool</a>
			<!-- <a href="#">About</a> -->
		</div>
	</nav>

	<div id="main_div" style="margin: 1% 0% 3% 3%; width:95%;">

	 	<div style="float:left;">
			<canvas id="ex_canvas">
		        Sorry. Your browser does not support HTML5 canvas element.
		    </canvas>
	 	</div>

	    <div id="legend" style="float:right; width:60%; margin: 1% 1% 1% 1%;">
	    	
	    	<!-- <h2>Annotations:</h2> -->
			
	    	<div style="margin: 1% 1% 1% 1%;">
				<h4>Document type:</h4>
				<ul id="document_type" style="list-style-type: none;">
				</ul>
	    	</div>

	    	<div style="margin: 1% 1% 1% 1%;">
				<h4>Document orientation: </h4>
				<ul id="orientation">
				</ul>
			</div>

	    	<div style="margin: 1% 1% 1% 1%;">
	    		<h4>Bounding boxes:</h4>
	    		<ul id="bounding_box_colors">
	    		</ul>
	    	</div>

	    </div>

	</div>

</body>
</html>