# ignore pycharm project dir
.idea

# images
*.png
*.jpg
*.jpeg
*.bnp

# heroku deployment files:
requirements.txt
runtime.txt
Procfile

# database backup file: 
labels_backup.json

#
# GITIGNORE EXCEPTIONS:
#

!static/asset_images/*
!static/images_to_be_labelled/example_img0.png
!static/images_to_be_labelled/example_img1.jpeg
!static/images_to_be_labelled/example_img2.jpeg
!static/images_to_be_labelled/example_img3.jpeg
