
body {
	background-color: #839cc4;
}

ul {
	list-style-type: none;
}

#main_div {
	margin: 1% 0% 3% 3%; 
	width:95%;
}

#img_div {
	float:left;
}

#legend_div div {
	margin: 1% 1% 1% 1%;
}

#legend_div {
	float:left; 
	width:60%; 
	margin: 1% 1% 1% 1%; 
	border: 3px solid black;
}

#legend_col_1 div {
	margin: 1% 1% 1% 1%;
}

#legend_col_1 {
	float:left; 
	width:45%; 
	margin: 1% 1% 1% 1%; 
	border: 5px solid blue;
}

#legend_col_2 {
	float:left;
	width:45%;
	border: 5px solid red;
}

#legend_col_2 div {
	margin-top: -1%;
}


#bounding_boxes ul{
	margin-left: -10%; 
}