body {
	background-color: #839cc4;
	padding-top: 65px; 
}

ul {
	list-style-type: none;
}

textarea{
	width: 100%;
	border: 2px solid black;
}

#main_div {
	margin: 1% 0% 3% 3%; 
	width:95%;
}

#img_div {
	float:left;
}

#legend_div {
	background-color: #778899;
	border-radius: 5px;
	float:left; 
	width:50%; 
	margin: 0% 1% 1% 1%; 
	/*border: 3px solid black;*/
}

#legend_col_2:first-child{
	margin-top: 1%;
	/*padding-top: 1%;*/
}

#word_textarea{
	padding-top: 2%;
	padding-bottom: 1%;
}

#img_navigation{
	padding-top: 1%;
	padding-bottom: 1%;
}

#submit_remove_buttons{
	padding-top: 4%;
	margin-bottom: 1%;
}

#legend_col_2 {
	float:left;
	width:90%;
/*	border: 5px solid blue;*/
}

/*#legend_col_2 div {
	margin-top: -1%;
}
*/

#bounding_boxes ul{
	margin-left: -10%; 
}

#bb_small_text {
	font-size: 11px;
	font-style: italic;
	color: white;
}

.img-circle {
	width:5%;
}

#documentation{
	margin-top: 1%;
}

.list-group-item {
    padding: 3px 3px;
    font-size: 11px;
}

.image_and_annotation_tools{
	margin-top:-20%;
}